body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #1D212B, #080e1d);
  overflow-x: hidden;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#map {
  width: 70%;
  height: 70%;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 150px;
  position: relative;
}

nav .logo {
  width: 210px;
  height: auto;
  left: 1%;
  margin-top: 20px;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 4%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #ffff;
  font-size: 25px;
  position: relative;
  font-family: "Poppins", sans-serif;
}

nav ul li a:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: rgb(236, 142, 0);
  transition: width 0.3s ease;
}

nav ul li a:hover:after {
  width: 100%;
}
