body {
    margin: 0;
    padding: 0;
    height: 100vh;

}

* {
    box-sizing: border-box;
}

.taust{
    background-color: #000000e5;
    height: 100vh;
    width:100%;
    position: absolute;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taustP{
    background-color: rgba(0, 0, 0, 0.445);
    height: 100vh;
    width:100%;
    position: absolute;
    object-fit: cover;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nav bar*/

nav .logo {
    width: 210px;
    height: auto;
    left: 1%;
    top: 1%;
    
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    }

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 37px;
    text-shadow:
        -0.8px -0.8px 0 #ffffff,
        0.8px -0.8px 0 #ffffff,
        -0.8px 0.8px 0 #ffffff,
        0.8px 0.8px 0 #ffffff;
    border: 2px solid #ffffff;
    padding: 2px 10px;
    border-radius: 10px;
    margin-top: 20px;
    font-family: "", sans-serif;
}

nav ul li a:hover {
    background-color: aliceblue;
}





.content {
    text-align: center;
    font-size: 5px;
}

.content h1 {
    font-size: 124px;
    color: #000000;
    font-weight: 600;
    font-family: 'Lato', sans-serif;

}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #000000;
    font-size: 50px;
    border: 2px solid #ffffff;
    padding: 10px 60px;
    border-radius: 50px;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;

}

.content a:hover {
    background-color: aliceblue;
}




/*Annab headerile tausta värvi*/
.header {
    background-color: #000000;
    padding: 0.1px; 
    text-align: left; 
}



/*Annab tekstile outline-i*/
.textoutline {
    text-shadow:
        -1px -1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
}


