/*Font "Poppins"*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap');






/*2. leht*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #1D212B;

}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(1){
    color: #fff;
}

section:nth-child(2){
    color: #1D212B;
    background: #fff;
}

section:nth-child(3){
    color: #fff;
}

section:nth-child(4){
    color: #1D212B;
    background: #fff;
}

section .container{
    margin: 100px;
}

section h1{
    font-size: 60px;
}

section h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

section .cards{
    display: flex;
}

section .cards .text-card{
    background: #d67b04;
    margin: 20px;
    padding: 20px;
}


section .cards .text-card h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (max-width: 900px){
    section h1{
        font-size: 40px;
    }
    
    section .cards{
        flex-direction: column;
    }
}

.reveal{
    position: rekative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}



.pic {
    width: 100%;
    height: 100%;
}













.taust{
    background-color: #000000e5;
    height: 100vh;
    width:100%;
    position: absolute;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taustP{
    background-color: rgba(0, 0, 0, 0.445);
    height: 100vh;
    width:100%;
    position: absolute;
    object-fit: cover;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nav bar*/

nav .logo {
    width: 210px;
    height: auto;
    left: 1%;
    top: 1%;
    
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    }

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 37px;
    text-shadow:
        -0.8px -0.8px 0 #ffffff,
        0.8px -0.8px 0 #ffffff,
        -0.8px 0.8px 0 #ffffff,
        0.8px 0.8px 0 #ffffff;
    border: 2px solid rgb(236, 142, 0);
    padding: 2px 10px;
    border-radius: 10px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
}

nav ul li a:hover {
    background-color: rgb(236, 142, 0);
}


.content {
    text-align: center;
    font-size: 5px;
}

.content h1 {
    font-size: 124px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins", sans-serif;

}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #000000;
    font-size: 50px;
    border: 2px solid #ffffff;
    padding: 10px 60px;
    border-radius: 50px;
    margin-top: 0px;
    font-family: "Poppins", sans-serif;

}

.content a:hover {
    background-color: rgb(236, 142, 0);
}


/*Annab headerile tausta värvi*/
.header {
    background-color: #000000;
    padding: 0.1px; 
    text-align: left; 
}


/*Annab tekstile outline-i*/
.textoutline {
    text-shadow:
        -1px -1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
}
