/*Font "Poppins"*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap');


body {
    overflow: hidden;

}

* {
    box-sizing: border-box;
}

.taust{
    background-color: #000000e5;
    height: 100vh;
    width:100%;
    position: absolute;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taustP{
    background-color: rgba(0, 0, 0, 0.445);
    height: 101vh;
    width:101%;
    left: -1px;
    top: -1px;
    position: absolute;
    object-fit: cover;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nav bar*/

nav .logo {
    width: 210px;
    height: auto;
    left: 1%;
    margin-top: 20px;
    
}

.pic {
    width: 20%;
    height: 20%;
    left: 300px;

}



nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    position: relative;
    }

nav ul li a {
    text-decoration: none;
    color: #ffff;
    font-size: 25px;
    position: relative;
    font-family: "Poppins", sans-serif;
}


nav ul li a:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(236, 142, 0);
    transition: width 0.3s ease; 
}

nav ul li a:hover:after {
    width: 100%;
}



.content {
    text-align: center;
    font-size: 5px;
}

.content h1 {
    font-size: 124px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins", sans-serif;

}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #000000;
    font-size: 50px;
    border: 2px solid rgb(236, 142, 0);
    padding: 10px 60px;
    border-radius: 50px;
    margin-top: 0px;
    font-family: "Poppins", sans-serif;

}

.content a:hover {
    background-color: rgb(236, 142, 0);
}


/*Annab headerile tausta värvi*/
.header {
    background-color: #000000;
    padding: 0.1px; 
    text-align: left; 
}


/*Annab tekstile outline-i*/
.textoutline {
    text-shadow:
        -1px -1px 0 rgb(255, 255, 255),
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
}



.container{
    width: 201vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;

    
}
.wrapper{
    width: 600%;
    display: flex;
    animation: slide 30s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-16.665%);
    }
    50%{
        transform: translateX(-16.665%);
    }
    55%{
        transform: translateX(-33.34%);
    }
    75%{
        transform: translateX(-33.34%);
    }
    80%{
        transform: translateX(-50%);
    }
    95%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0);
    }
    
}

img{
    width: 100%;
}